.main-container {
  display: flex;
  animation: fadeSlideIn 1s ease-in-out;
}
.our-story {
  padding: 36px;
  /* padding-left: 20px; */
  margin-right: auto;
  width: 50%;
  font-family: "Courier New", Courier, monospace;
}
#our-why {
  width: 50%;
  margin-left: auto;
}
.btn-container {
  display: flex;
  justify-content: space-evenly;
}

.btns {
  background-color: #0b5e00;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.3s ease;
}
button:hover {
  cursor: pointer;
  transform: scale(110%) translateY(-5px);
}
@keyframes fadeSlideIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
